/Lab 1/Lab1/nbproject/private/
/Lab 1/Lab1/build/
/Lab 2/JavaApplication1/nbproject/private/
/Lab 2/JavaApplication1/build/
/Lab3/Lab3/nbproject/private/
/Lab3/Lab3/build/
/Lab4/Lab4/nbproject/private/
/Lab4/Lab_4_Skeleton/nbproject/private/
/Lab4/Lab_4_Skeleton/build/
/Lab5/ProfileWorkareaExample_fall2025/dist/
/Lab7/Lab_Order_Processing_Skeleton/Lab_6_Skeleton/nbproject/private/
/Lab7/Lab_Order_Processing_Skeleton/Lab_6_Skeleton/build/
/Lab7/Lab_Order_Processing_Skeleton/Lab_6_Skeleton/dist/
